/* Центрирование текста по горизонтали */
.centered-text {
    text-align: center;
  }
  
  /* Центрирование текста по вертикали и горизонтали в пределах всего окна браузера */
  body {
    display: flex;
    flex-direction: column; /* Располагаем элементы вертикально */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота 100% от высоты окна браузера */
    margin: 0; /* Убираем отступы по умолчанию */
  }
  
  h1 {
    max-width: 80%; /* Устанавливаем максимальную ширину текста для лучшей читаемости */
    line-height: 1.5; /* Межстрочное расстояние для удобства чтения */
  }
  
  .form-container {
    text-align: center; /* Центрируем текст внутри формы */
    margin-top: 20px; /* Добавляем отступ сверху */
  }
  
  form {
    display: flex;
    flex-direction: column; /* Располагаем элементы формы вертикально */
    align-items: center; /* Центрируем элементы формы */
  }
  
  label, input, button {
    margin: 10px 0; /* Добавляем отступы между элементами */
  }
  
  input {
    padding: 8px; /* Добавляем внутренний отступ */
    font-size: 16px; /* Увеличиваем размер шрифта */
  }
  
  button {
    padding: 10px 20px; /* Добавляем внутренний отступ */
    font-size: 16px; /* Увеличиваем размер шрифта */
    cursor: pointer; /* Меняем курсор при наведении */
  }

.gay {
    font-size: 200px;
    color: red;
    
  }